.Content 
{
    margin-top: 72px;
    text-align: center;
    background-color: blanchedalmond;
    
}


@media(min-width:500px)
{
    .Content 
{
    display: flex;
    flex-direction: row-reverse;
}
}